body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FE69B3;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}

#clock {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-top: auto; /* Adjust margin as needed */
  margin-left: 15px;
  font-size: 12px;
  /*background-color: #f0f0f0;*/
  /*padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
  z-index: 3; /* Ensure the clock is on top*/ 
}

.taskbar {
  width: 100%;
  height: 5%;
  flex-shrink: 0;
  border: 3px solid #000;
  background: #FFDA58;
  margin-top: auto;
  z-index: 1;
}


.landing-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #000;
  background-color: #FCFD97;
  padding: 20px;
  box-shadow: -40px 40px 0px 0px rgba(0, 0, 0, 0.5);
  z-index: 1; /* Ensure it's on top of other elements */
}
/*.landing-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); /* Background color with 50% opacity 
  z-index: 0; /* Ensure it's behind the popup 
}*/



.landing-header {
  cursor: move;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  cursor: pointer;
}

.draggable {
  cursor: move;
}
.landingtitle {
  text-decoration: underline;
  /*width: 216px;
  height:18 px;
  flex-shrink: 0;*/
  color: #000;
  font-family: Press Start 2P;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcometo{
  color: #000;
  font-family: Press Start 2P;
    font-size: 28.98px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.rielleos{
  font-family: Press Start 2P;
    font-size: 75.123px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.landingnotes{
  /*width: 1002px;
  height:404px;
  flex-shrink: 0;
  font-family: Press Start 2P;*/
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

}


.menus {
  text-align: center;
  display: inline-block;
  text-decoration: underline; /* Add underline style to indicate they are clickable */
  margin: 5%;  
  margin-top: 13%;
  margin-bottom: 3%;
  /*margin-left: 3%;
  margin-right: 95%;*/
  cursor: pointer;
  color: #1E1E1E;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.space {
  display: inline-block;
  width: 20px; /* Adjust the width of the space as needed */
}